/* .navBar {
    position: fixed;
    left: 0;
    top: 20%;
    width: 100%;
    text-align: center;
} */
/* html {
} */
footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
}

.mainSection {
    text-align: center;
    padding-top: 30px;
}

body {
    height: 100%;
    width: 100%;
}

.row .col-sm-6 h1 {
    color: crimson;
    font-size: large;
    text-transform:capitalize;
}

.row .col-sm-6 img {
    position: right;
}

.pl-5:nth-child(odd){
    background-color: hsl(347, 90%, 96%);
}
#map {
    height: 350px;
    /* The height is 400 pixels */
    width: 200%;
    /* The width is the width of the web page */
  }